{% extends 'layout.html' %}
{% block content %}
<main>

<div class="container">
<div class="row">
<div class="col-xl-12">
<div class="slider-area">
<div class="slider-height2 slider-bg5 d-flex align-items-center justify-content-center">
<div class="hero-caption hero-caption2">
<h2>Profile </h2>
</div>
</div>
</div>
</div>
</div>
</div>



<section class="contact-section">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="contact-title">Profile Update</h2>
</div>
<div class="col-lg-8">
<form class="form-contact contact_form" action="{% url 'Profile_Update' %}" method="POST">
{% csrf_token %}
<div class="row">

<div class="col-sm-6">
<div class="form-group">
<input class="form-control valid"  id='firstname'type="text" placeholder="Enter First Name" name='firstname'  onfocus="this.placeholder = ''" onblur="this.placeholder ='Enter First Name'" value="{{user.first_name}}">
</div>
</div>
<div class="col-sm-6">
    <div class="form-group">
    <input class="form-control valid"  id='lastname'type="text" placeholder="Enter Last Name" name='lastname'  onfocus="this.placeholder = ''" onblur="this.placeholder ='Enter Last Name'" value="{{user.last_name}}">
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
    <input class="form-control valid"  id='username'type="text" placeholder="Enter Username" name='username'  onfocus="this.placeholder = ''" onblur="this.placeholder ='Enter Username'" value="{{user.username}}">
    </div>
</div>
<div class="col-sm-6">
<div class="form-group">
<input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email" value="{{user.email}}">
</div>
</div>
<div class="col-12">
<div class="form-group">
<input class="form-control" id='password' type="password" name='password' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Fill Only If You Want To Change Password'"  placeholder="Fill Only If You Want To Change Password">
</div>
</div>
</div>
<div class="form-group mt-3">
<button type="submit" class="button button-contactForm boxed-btn">Update Profile</button>
{% comment %} <a class="button button-contactForm boxed-btn" href="{% url 'Home' %}">Back to Home</a> {% endcomment %}
</div>

</form>
</div>

</div>
</div>
</section>

</main>
{% endblock  %}