{% load static %}
{% if books|length < 1 %}
<img src="{% static 'assets/img/output.gif'  %}" style="display: block;
margin-left: auto;
margin-right: auto;

width: 40%;"/>
{% else %}
{% for books in books %}
{% if books.status == '1' %}
<div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12 col-sm-6">
    <div class="properties pb-30">
        <div class="properties-card">
            <div class="properties-img">
                <a href="/book_detail/{{books.id}}"><img src="/{{books.image}}" style="height: 298px;" alt=""></a>
            </div>
            <div class="properties-caption properties-caption2">
                <h3><a href="/book_detail/{{books.id}}">{{books.name}}</a></h3>
                <p>{{books.author}}</p>
                <div class="properties-footer d-flex justify-content-between align-items-center">
                    <div class="review">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                         <p>(<span>120</span> Review)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif%}
{% endfor %}
{% endif %}