{% for items in books %}
{% if items.status == '1' %}  
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
<div class="properties pb-20">
<div class="properties-card">
<div class="properties-img">
        <a href="/book_detail/{{items.id}}"><img src="/{{items.image}} "style="height: 298px;"  alt=""></a>
    </div>
    <div class="properties-caption properties-caption2">
        <h3><a href="/book_detail/{{items.id}}">{{items.name}}</a></h3>
        <p>{{items.author}}</p>
        <div class="properties-footer d-flex justify-content-between align-items-center">
            <div class="review">
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <p>(<span>120</span> Review)</p>
            </div>
        </div>
    </div>
</div>
</div>

</div>
{% endif %}
{% endfor %}