{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% block script %}
{% comment %} <script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"
></script> {% endcomment %}
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endcomment %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'flipbook/css/jquery.fancybox.min.css' %}" />
<script type="text/javascript" src="{% static 'flipbook/js/jquery.fancybox.min.js' %}"></script>
<script>
    // Adjust iframe height according to the contents
    parent.jQuery.fancybox.getInstance().update();

    // Close current fancyBox instance
    parent.jQuery.fancybox.getInstance().close();
</script>



{% endblock %} 


<style>
    .fancybox-slide--iframe .fancybox-content {
        width: 95%;
        height: 95%;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }
</style>
<main>
    
    <div class="services-area2">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="row">
    <div class="col-xl-12">
    <div class="single-services d-flex align-items-center mb-0">
        
    <div class="features-img">
    <img src="/{{book_detail.image}}" style=" height: 427px;" alt="">
    </div>
    <div class="features-caption">
    <h3>{{book_detail.name}}</h3>
    <p>By {{book_detail.author}}</p>
    
    <p>Category : {{book_detail.category}}</p>
    <p>Publisher : {{book_detail.publisher}}</p>
    <p>{{book_detail.publish_year}}</p>
    <div class="review">
    <div class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half-alt"></i>
    </div>
    <p>(120 Review)</p>
    </div>
    <a class="white-btn mr-10" data-fancybox data-type="iframe" data-src="/viewer.html?file={{ book_detail.pdf.url }}#magazineMode=true" href="javascript:;">Read Now</a>
    {% if book_detail.download == '1' %}
    <a href="{{ book_detail.pdf.url }}" download class="white-btn mr-10">Download</a>
    {% endif %}
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  
    
    <section class="our-client section-padding best-selling">
    <div class="container">
    <div class="row">
    <div class="offset-xl-1 col-xl-10">
    <div class="nav-button f-left">
    <nav>
    <div class="nav nav-tabs " id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one" role="tab" aria-controls="nav-one" aria-selected="true">Description</a>
    <a class="nav-link" id="nav-two-tab" data-bs-toggle="tab" href="#nav-two" role="tab" aria-controls="nav-two" aria-selected="false">Author</a>
    </div>
    </nav>
    
    </div>
    </div>
    </div>
    </div>
    <div class="container">
    
    <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
    
    <div class="row">
    <div class="offset-xl-1 col-lg-9">
    <p>
        {{book_detail.description}}
    </p>
    </div>
    </div>
    </div>
    <div class="tab-pane fade" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">
    
    <div class="row">
    <div class="offset-xl-1 col-lg-9">
        <p>{{book_detail.author.description}}</p>
    </div>
    </div>
    </div>
    <div class="flip-book-container" src="{{ book_detsil.pdf.url }}"></div>
    </div>
    </div>
    </section>
   
        
      
    </main>
    
{% endblock  %}