{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% block script %}
<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"
></script>
<script>
    $(document).ready(function(){
        $(".filter-checkbox").on('click', function(){
            var filter_object={};
            $(".filter-checkbox").each(function(index,ele){
                var filter_value=$(this).val();
                var filter_key=$(this).data('filter');
                 
                filter_object[filter_key]=Array.from(document.querySelectorAll('input[data-filter='+filter_key+']:checked')).map(function(el){
                     return el.value;
                });
            });
            $.ajax({ 
                url:'{% url 'filter_data' %}',
                data:filter_object,
                dataType:'json',		
                success:function(res){				
                    $("#filteredBooks").html(res.data);	
                
                }
            }); 
        });
    });
    </script>
 

{% endblock %} 
<main>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="slider-area">
                    <div class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
                        <div class="hero-caption hero-caption2">
                            <h2>Book Category</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="listing-area pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">

                    <div class="category-listing mb-50">
                    
                         <div class="single-listing">
                    
                            <div class="select-Categories pb-30">
                                <div class="small-tittle mb-20">
                                    <h4>Filter by Category</h4>
                                </div>
                                {% for i in category %}
                                {% if i.status == '1' %}
                                <div class="single-widget-category">
                                    <label class="container" for="{{i.id}}">{{i.name}}
                                     <input type="checkbox" data-filter="category" id="{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                                     <span class="checkmark"></span><span >({{i.add_book_set.all.count}})</span></label>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="category-listing mb-50">
                    
                        <div class="single-listing">
                   
                           <div class="select-Categories pb-30">
                               <div class="small-tittle mb-20">
                                   <h4>Filter by Publisher</h4>
                               </div>
                               {% for i in publisher %}
                               {% if i.status == '1' %}
                               <div class="single-widget-category">
                                   <label class="container" for="publisher-{{i.id}}">{{i.name}}
                                    <input type="checkbox" data-filter="publisher" id="publisher-{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                                    <span class="checkmark"></span><span >({{i.add_book_set.all.count}})</span></label>
                               </div>
                               {% endif %}
                               {% endfor %}
                           </div>
                       </div>
                   </div>
                   
                   <div class="category-listing mb-50">
                    
                    <div class="single-listing">
               
                       <div class="select-Categories pb-30">
                           <div class="small-tittle mb-20">
                               <h4>Filter by Publisher</h4>
                           </div>
                           {% for i in author %}
                           {% if i.status == '1' %}
                           <div class="single-widget-category">
                               <label class="container" for="author-{{i.id}}">{{i.name}}
                                <input type="checkbox" data-filter="author" id="author-{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                                <span class="checkmark"></span><span >({{i.add_book_set.all.count}})</span></label>
                           </div>
                           {% endif %}
                           {% endfor %}
                       </div>
                   </div>
               </div>
                </div>
                
                 
                <div class="col-xl-8 col-lg-8 col-md-6">
                    
                    <div class="best-selling p-0">
                        <div class="row" id="filteredBooks">
                            {% for books in books %}
                            {% if books.status == '1' %}
                            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12 col-sm-6 book_box">
                                <div class="properties pb-30">
                                    <div class="properties-card">
                                        <div class="properties-img">
                                            <a href="/book_detail/{{books.id}}"><img src="/{{books.image}}" style="height: 298px;" alt=""></a>
                                        </div>
                                        <div class="properties-caption properties-caption2">
                                            <h3><a href="/book_detail/{{books.id}}">{{books.name}}</a></h3>
                                            <p>{{books.author}}</p>
                                            <div class="properties-footer d-flex justify-content-between align-items-center">
                                                <div class="review">
                                                    <div class="rating">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star-half-alt"></i>
                                                    </div>
                                                     <p>(<span>120</span> Review)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif%}
                            {% endfor %}
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="more-btn text-center mt-15">
                                            <button id="BrowseMore" class="border-btn border-btn2 more-btn2">Browse More <i class="fa fa-sync"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</main>
{% endblock %}