{% extends 'layout.html' %}
{% block content %}
{% load static %}
{% block script %}

<script>
    $(document).ready(function(){
        $(".filter-checkbox").on('click', function(){
            var filter_object={};
            $(".filter-checkbox").each(function(index,ele){
                var filter_value=$(this).val();
                var filter_key=$(this).data('filter');
                 
                filter_object[filter_key]=Array.from(document.querySelectorAll('input[data-filter='+filter_key+']:checked')).map(function(el){
                     return el.value;
                });
            });
            $.ajax({
                url:'{% url 'filter_data' %}',
                data:filter_object,
                dataType:'json',
                beforeSend:function(){
                    $("#filteredBooks").html('loading...');	
                },			
                success:function(res){				
                    $("#filteredBooks").html(res.data);	
                
                }
            }); 
        });
    });
    </script>
 

{% endblock %} 
<main>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="slider-area">
                    <div class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
                        <div class="hero-caption hero-caption2">
                            <h2>Book Category</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="listing-area pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">

                    <div class="category-listing mb-50">
                    
                    <div class="single-listing">
                    
                    <div class="select-Categories pb-30">
                    <div class="small-tittle mb-20">
                    <h4>Filter by Genres</h4>
                    </div>
                    {% for i in category %}
                    <div class="single-widget-category">
                    <input type="checkbox" data-filter="category" id="{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                    <label for="{{i.id}}">{{i.name}} <span>({{i.data_set.all.count}})</span></label>
                    </div>
                    {% endfor %}

                    </div>
                    
                  

                    
                   
                    
                    <div class="select-Categories pt-100 pb-60">
                    <div class="small-tittle mb-20">
                    <h4>Filter by Publisher</h4>
                    </div>
                    {% comment %} {% for pub in publisher %}
                    {% if pub.status == '1' %}
                    <label class="container"for="{{pub.id}}">{{pub.name}}
                        <input type="checkbox"data-filter="publisher" id="{{pub.id}}" value="{{pub.id}}" class="filter-checkbox1">
                        <span class="checkmark"></span>
                    </label>
                    {% endif %}
                    {% endfor %} {% endcomment %}
                    {% for i in publisher %}
                    <div class="single-widget-category">
                    <input type="checkbox" data-filter="category" id="{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                    <label  for="{{i.id}}">{{i.name}} <span>({{i.data_set.all.count}})</span></label>
                    </div>
                    {% endfor %}


                    </div>
                    
                    
                    <div class="select-Categories">
                    <div class="small-tittle mb-20">
                    <h4>Filter by Author Name</h4>
                    </div>
                    {% comment %} {% for aut in author %}
                    {% if aut.status == '1' %}
                    <label class="container"for="{{aut.id}}">{{aut.name}}
                        <input type="checkbox"data-filter="publisher" id="{{aut.id}}" value="{{aut.id}}" class="filter-checkbox2">
                        <span class="checkmark"></span>
                    </label>
                    {% endif %}
                    {% endfor %} {% endcomment %}

                    {% for i in author %}
                    <div class="single-widget-category">
                    <input type="checkbox" data-filter="category" id="{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                    <label for="{{i.id}}">{{i.name}} <span>({{i.product_set.all.count}})</span></label>
                    </div>
                    {% endfor %}

                    </div>
                    </div>
                    </div>
                    </div>
                <div class="col-xl-8 col-lg-8 col-md-6">
                    
                    <div class="best-selling p-0">
                        <div class="row" id="filteredBooks">
                            {% for book in books %}
                            {% if book.status == '1' %}
                            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12 col-sm-6">
                                <div class="properties pb-30">
                                    <div class="properties-card">
                                        <div class="properties-img">
                                            <a href="/book_detail/{{book.id}}"><img src="/{{book.image}}" style="width: 200px; height: 298px;" alt=""></a>
                                        </div>
                                        <div class="properties-caption properties-caption2">
                                            <h3><a href="/book_detail/{{book.id}}">{{book.name}}</a></h3>
                                            <p>{{book.author}}</p>
                                            <div class="properties-footer d-flex justify-content-between align-items-center">
                                                <div class="review">
                                                    <div class="rating">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star-half-alt"></i>
                                                    </div>
                                                     <p>(<span>120</span> Review)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif%}
                            {% endfor %}
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="more-btn text-center mt-15">
                                            <a href="#" class="border-btn border-btn2 more-btn2">Browse More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</main>
{% endblock %}