{% extends 'layout.html' %}
{% block content %}
{% load static %}
<main>
    <div class="slider-area">
        <div class="container">
        <div class="row">
        <div class="col-xl-12">
        <div class="slider-active dot-style">
            {% for i in sliders %}
        <div class="single-slider slider-height slider-bg3 d-flex align-items-center" >
         <div class="container">
            
        <div class="row justify-content-center">
        <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
        <div class="hero-caption text-center">
        <span data-animation="fadeInUp" data-delay=".2s">{{i.Author}}</span>
        <h1 data-animation="fadeInUp" data-delay=".4s">{{i.Name}}<br></h1>
        <h4 data-animation="fadeInUp" data-delay=".4s" style="color:#FFF;">{{i.Category}}<br></h4>
        <a href="#" class="btn hero-btn" data-animation="bounceIn" data-delay=".8s">Read Now</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        {% endfor %}    
        </div>
        </div>
        </div>
        </div>
        </div>
        

<div class="best-selling section-bg">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-7 col-lg-8">
<div class="section-tittle text-center mb-55">
<h2>Best Books Ever</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-12">
<div class="selling-active">
    {% for items in books %}
    {% if items.status == '1' %}
<div class="properties pb-20">
<div class="properties-card">
<div class="properties-img">
<a href="/book_detail/{{items.id}}"><img src="/{{items.image}}" style=" height: 298px;"  alt=""></a>
</div>
<div class="properties-caption">
<h3><a href="/book_detail/{{items.id}}">{{items.name}}</a></h3>
<p>{{items.author}}</p>
<div class="properties-footer d-flex justify-content-between align-items-center">
<div class="review">
<div class="rating">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star-half-alt"></i>
</div>
<p>(<span>120</span> Review)</p>
</div>
</div>
</div>
</div>
</div>

{% endif %}
{% endfor %}

</div>
</div>
</div>
</div>
</div>



<div class="services-area2 top-padding">
<div class="container">
<div class="row">
<div class="col-xl-9 col-lg-9 col-md-8">
<div class="row">

<div class="col-xl-12">
<div class="section-tittle d-flex justify-content-between align-items-center mb-40">
<h2 class="mb-0">Featured This Week</h2>
<a href="#" class="browse-btn">View All</a>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-12">
<div class="services-active">
    {% for items in books %}
    {% if items.status == '1' %}
<div class="single-services d-flex align-items-center">
<div class="features-img">
<img src="{{items.image}}" style=" height: 427px;" alt="">
</div>
<div class="features-caption">
<img src="{% static 'assets/img/icon/logo.html' %}" alt="">
<h3>{{items.name|truncatewords:10}}</h3>
<p>By {{items.author}}</p>
<p> {{items.publish_year}}</p>
{% comment %} <div class="price">
<span>$50.00</span>
</div> {% endcomment %}
<div class="review">
<div class="rating">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star-half-alt"></i>
</div>
<p>(120 Review)</p>
</div>
<a href="/book_detail/{{items.id}}" class="border-btn">View Details</a>
</div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-9">

<div class="google-add">
<img src="{% static 'assets/img/gallery/ad.jpg' %}" alt="" class="w-100">
</div>
</div>
</div>
</div>
</div>


<section class="our-client section-padding best-selling">

<div class="container">
<div class="row justify-content-between">
<div class="col-xl-5 col-lg-5 col-md-12">
<div class="section-tittle  mb-40">
<h2>Latest Published items</h2>
</div>
</div>
<div class="col-xl-7 col-lg-7 col-md-12">
<div class="nav-button mb-40">
<nav>
<div class="nav nav-tabs" id="nav-tab" role="tablist">
    {% for i in bookcategory %}
<a class="nav-link {% if forloop.counter == 1 %} active {% endif %} category_link" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one" role="tab" aria-controls="nav-one" aria-selected="true">{{i.name}}</a>
{% endfor %}
</div>
</nav>
</div>
</div>
</div>
</div>


<div class="container">
    
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
            
            <div class="row" id="bookcategory">
                        {% for items in books %}
                        {% if items.status == '1' %}  
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="properties pb-20">
                        <div class="properties-card">
                        <div class="properties-img">
                                <a href="/book_detail/{{items.id}}"><img src="/{{items.image}} "style="height: 298px;"  alt=""></a>
                            </div>
                            <div class="properties-caption properties-caption2">
                                <h3><a href="/book_detail/{{items.id}}">{{items.name|truncatewords:2}}</a></h3>
                                <p>{{items.author}}</p>
                                <div class="properties-footer d-flex justify-content-between align-items-center">
                                    <div class="review">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                        <p>(<span>120</span> Review)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="more-btn text-center mt-15">
                    <a href="{% url 'books' %}" class="border-btn border-btn2 more-btn2">Browse More</a>
                </div>
            </div>
        </div>
</div>
</section>
</main>

{% endblock  %}

